@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 7.5% 0%;
    --foreground: 30 7.5% 96%;

    --card: 30 7.5% 4%;
    --card-foreground: 30 7.5% 96%;

    --popover: 30 7.5% 4%;
    --popover-foreground: 30 7.5% 96%;

    --primary: 30 7.5% 96%;
    --primary-foreground: 30 7.5% 4%;

    --secondary: 30 7.5% 12%;
    --secondary-foreground: 30 7.5% 90%;

    --muted: 30 7.5% 10%;
    --muted-foreground: 30 7.5% 60%;

    --accent: 30 7.5% 96%;
    --accent-foreground: 30 7.5% 4%;

    --destructive: 30 7.5% 80%;
    --destructive-foreground: 30 7.5% 4%;

    --border: 30 7.5% 22%;
    --input: 30 7.5% 14%;
    --ring: 30 7.5% 60%;

    --radius: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    background-color: #000;
  }
  body {
    @apply bg-background text-foreground;
  }
}
