@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 96%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 96%;

    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 4%;

    --destructive: 0 0% 80%;
    --destructive-foreground: 0 0% 4%;

    --border: 0 0% 22%;
    --input: 0 0% 14%;
    --ring: 0 0% 60%;

    --radius: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    background-color: #000;
  }
  body {
    @apply bg-background text-foreground;
  }
}
